@media only screen and (max-width:600px){
    div{
        font-size: 7vw;
    }
    h1{
        font-size: 8vw;
        text-align: center;
    }
}
.bgheading{
    display: flex;
    font-family: "Franklin Gothic Medium";
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100vw;
    margin-top: 15vh;
    text-transform: uppercase;
}
.heading{
    flex-wrap: wrap;
}
div{
    display: flex;
    justify-content: center;
    align-content: center;
}
body{
    margin: 0px;
    background: -webkit-linear-gradient(left,#dc143c,#008080);
}
h1{
    font-size: 10vh;
    text-align: center;
}
#dytext{
    align-self: center;
    text-transform: lowercase;
    font-weight: lighter;
    font-size: 8vh;
    font-family: sans-serif;
}
input[type="color"]{
    height: 10vh;
    width: 20vw;
}